<!DOCTYPE html>
<html>
<head>
	<title>Campuses Represented</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<h1>We have students everywhere!</h1>
	<p>Choose a campus below to learn more:</p>
	<ul>
		<li> <a href="http://www.sanfrancisco.travel/"> San Francisco </a> </li>
		<li> <a href="http://www.nycgo.com/"> New York City </a> </li>
		<li> <a href="http://www.sandiego.org/"> San Diego </a> </li>
	</ul>
</body>
</html>