body {
	background-color: pink

}


#octopus {
	position: absolute;
	width: 100%;
	margin-right: 50%;
	margin-left: 50%;
	top: 85px;
	
 }
 #hat {

 	position: relative;
 	margin-right: 50%;
	margin-left: 50%;
	width:100%;


 }
#glasses {
 	position: relative;
 	margin-right: 43%;
	margin-left: 57%;
	margin-top: 10px;
	width: 100%


}


